In [ ]:
[DATAPT19][BCN][Laura-Paula]lab-sql

In [3]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/Users/paula/Ironhack/Ironhack_Data_Analytics.json"

In [4]:
from google.cloud import bigquery

In [5]:
client = bigquery.Client()

In [43]:
#Crear la tabla cars
QUERY = """
CREATE TABLE
    car_dealership.cars(
    vin STRING NOT NULL,
    manufacturer STRING,
    model STRING,
    year INT64,
    color STRING)
"""

In [56]:
query_job = client.query(QUERY)

In [57]:
df = query_job.to_dataframe()

In [58]:
df.head(10)

                 vin manufacturer   model  year color
0  3K096I98581DHSNUP   Volkswagen  Tiguan  2019  Blue

In [42]:
#Ver los detalles de las columnas de la tabla cars
QUERY1 = """
SELECT 
    * 
FROM
 `car_dealership.INFORMATION_SCHEMA.COLUMNS`
WHERE
 table_name="cars"
"""

In [43]:
query_job = client.query(QUERY1)
df1 = query_job.to_dataframe()
df1.head()

,table_catalog,table_schema,table_name,column_name,ordinal_position,is_nullable,data_type,is_generated,generation_expression,is_stored,is_hidden,is_updatable,is_system_defined,is_partitioning_column,clustering_ordinal_position
0,ironhack-data-analytics,car_dealership,cars,vin,1,NO,STRING,NEVER,None,None,NO,None,NO,NO,None
1,ironhack-data-analytics,car_dealership,cars,manufacturer,2,YES,STRING,NEVER,None,None,NO,None,NO,NO,None
2,ironhack-data-analytics,car_dealership,cars,model,3,YES,STRING,NEVER,None,None,NO,None,NO,NO,None
3,ironhack-data-analytics,car_dealership,cars,year,4,YES,INT64,NEVER,None,None,NO,None,NO,NO,None
4,ironhack-data-analytics,car_dealership,cars,color,5,YES,STRING,NEVER,None,None,NO,None,NO,NO,None

In [50]:
#Insertar los valores de la tabla cars

QUERY2 = """
INSERT `car_dealership.cars` (vin,manufacturer,model,year,color)
VALUES
    ('HKNDGS7CU31E9Z7JW', 'Toyota', 'RAV4', 2018, 'Silver'),
    ('ZM8G7BEUQZ97IH46V','Peugeot','Rifter',2019,'Red'),
    ('RKXVNNIHLVVZOUB4M','Ford','Fusion',2018,'White'),
    ('HKNDGS7CU31E9Z7JW','Toyota','RAV4',2018,'Silver'),
    ('DAM41UDN3CHU2WVF6','Volvo','V60',2019,'Gray'),
    ('DAM41UDN3CHU2WVF6','Volvo','V60 Cross Country',2019,'Gray')
"""

In [51]:
query_job = client.query(QUERY2)

In [52]:
df2 = query_job.to_dataframe()

In [53]:
df2.head(10)

Empty DataFrame
Columns: []
Index: []

In [10]:
#Comprobar los valores de la tabla cars

QUERY3 = '''
SELECT 
    * 
FROM
    car_dealership.cars
LIMIT 
    100
'''

In [55]:
query_job = client.query(QUERY3)

In [56]:
df3 = query_job.to_dataframe()

In [57]:
df3.head(10)

                 vin manufacturer              model  year   color
0  HKNDGS7CU31E9Z7JW       Toyota               RAV4  2018  Silver
1  RKXVNNIHLVVZOUB4M         Ford             Fusion  2018   White
2  ZM8G7BEUQZ97IH46V      Peugeot             Rifter  2019     Red
3  DAM41UDN3CHU2WVF6        Volvo  V60 Cross Country  2019    Gray
4  DAM41UDN3CHU2WVF6        Volvo                V60  2019    Gray
5  3K096I98581DHSNUP   Volkswagen             Tiguan  2019    Blue

In [13]:
QUERY4 = '''
DELETE
FROM
    car_dealership.cars
WHERE
    vin='DAM41UDN3CHU2WVF6' AND model='V60'
'''

In [14]:
query_job = client.query(QUERY4)
df4 = query_job.to_dataframe()
df4.head(10)

Empty DataFrame
Columns: []
Index: []

In [15]:
query_job = client.query(QUERY3)
df3 = query_job.to_dataframe()
df3.head(10)

                 vin manufacturer              model  year   color
0  RKXVNNIHLVVZOUB4M         Ford             Fusion  2018   White
1  HKNDGS7CU31E9Z7JW       Toyota               RAV4  2018  Silver
2  3K096I98581DHSNUP   Volkswagen             Tiguan  2019    Blue
3  DAM41UDN3CHU2WVF6        Volvo  V60 Cross Country  2019    Gray
4  ZM8G7BEUQZ97IH46V      Peugeot             Rifter  2019     Red